<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Notícias</title>
		</head>
	<body>

		<h1>Notícias</h1>

		<ul>
			<% for(var i=0; i < noticias.length; i++) {%>
			<li>
				<h2><%= noticias[i].titulo %></h2>
				<p><%= noticias[i].noticia %></p>
			</li>
			<% }%>
		</ul>

	</body>
</html>